<template>
<nav class="navbar navbar-inverse" style="margin-bottom: 0">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="${currentRoute == 'home' ? 'active' : ''}">
			<a href="#" click.delegate="navigateTo('home')">Home</a>
		</li>
        <li class="${currentRoute == 'modules' ? 'active' : ''}">
			<a href="#" click.delegate="navigateTo('modules')">Modulübersicht</a>
		</li>
        <li class="${currentRoute == 'users' ? 'active' : ''}">
			<a href="#" click.delegate="navigateTo('users')">Benutzer</a>
		</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
		<li><span show.bind="account">Hallo ${account.firstName} ${account.lastName}!</span></li>
        <li class="${currentRoute == 'login' ? 'active' : ''}">
			<a href="#" click.delegate="navigateTo('login')">
				<span class="glyphicon glyphicon-log-${account ? 'out' : 'in'}"></span> 
				${account ? 'Logout' : 'Login'}
			</a>
		</li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
	<router-view></router-view>
  </div>
</div>
</template>