<template>
	<ul class="list-group">
		<li show.bind="account.role <= 2">
			<button click.delegate="addNews()">Beitrag hinzufügen</button>
		</li>
		<li repeat.for="news of newsList" class="list-group-item">
			<button click.delegate="deleteNews(news)" show.bind="account.role <= 2" class="close">
				<span>&times;</span>
			</button>
			<button click.delegate="saveNews(news)" show.bind="account.role <= 2" style="float: left;" class="close">
				<span class="glyphicon glyphicon-floppy-disk"></span>
			</button>
			<span class="pull-left">${dateToString(news.date)}</span>
			<h1><input disabled.bind="account.role != 1" value.bind="news.heading"></h1>
			<div contenteditable.bind="account.role <= 2" textcontent.two-way="news.description"></div>
		</li>
	</ul>
</template>