<template>
	<br/>
	<div>${hint}</div>
	<form submit.delegate="login()">
		<span>Benutzername:</span> <input type="text" value.bind="username" /> <br/>
		<span>Passwort:</span> <input type="password" value.bind="password" /> <br/>
		<button type="submit">Login</button> <br/>
	</form>
	
	<div>
		Haben Sie Ihr Passwort vergessen? Dann klicken Sie <a href="#" click.delegate="passwordLost()">hier</a>.
	</div>
	<div show.bind="success">Sie haben sich erfolgreich eingeloggt.</div>
	
	<h2>Kontakt</h2>
	<ul class="list-group">
		<li class="list-group-item">
			<h1>Technische Fakultät</h1>
			<span>Ansprechparter: Herr Schlau, Tel.: 0123-434568</span>
		</li>
		<li class="list-group-item">
			<h1>Mathematische Fakultät</h1>
			<span>Ansprechparter: Frau Klug, Tel.: 0123-434570</span>
		</li>
	</ul>
</template>