<template>
	<div class="module-list">
		<ul class="list-group">
			<li repeat.for="module of modules" class="list-group-item ${module.id === $parent.selectedId ? 'active' : ''}">
				<button click.delegate="deleteModule(module)" show.bind="account.role <= 2" class="close">
					<span>&times;</span>
				</button>
				<a route-href="route: module; params.bind: {id:module.id}" click.delegate="$parent.select(module)">
					<h4 class="list-group-item-heading">${module.name}</h4>
				</a>
			</li>
			<li show.bind="account.role <= 2"><button click.delegate="addModule()">Modul hinzufügen</button></li>
		</ul>
	</div>
</template>