<template>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<button click.delegate="saveModule(news)" show.bind="account.role <= 2" style="float: left;" class="close">
				<span class="glyphicon glyphicon-floppy-disk"></span>
			</button>
			<h3 class="panel-title"><span contenteditable.bind="account.role <= 2" textcontent.two-way="module.name"></span> - Modulbeschreibung</h3>
		</div>
		<div class="panel-body">
			<div contenteditable.bind="account.role <= 2" textcontent.two-way="module.shortDesc"></div>
			<br/>
			<table class="module-detail-table">
				<tr>
					<td>Klausurdaten</td>
					<td contenteditable.bind="account.role <= 2" textcontent.two-way="module.futureDates"></td>
				</tr>
				<tr>
					<td>Voraussetzungen</td>
					<td contenteditable.bind="account.role <= 2" textcontent.two-way="module.requirements"></td>
				</tr>
				<tr>
					<td>Zugelassene Hilfsmittel</td>
					<td contenteditable.bind="account.role <= 2" textcontent.two-way="module.means"></td>
				</tr>
				<tr>
					<td>Erste Modulausführung</td>
					<td contenteditable.bind="account.role <= 2" textcontent.two-way="module.firstExecution"></td>
				</tr>
			</table>
			<br/>
			<div contenteditable.bind="account.role <= 2" textcontent.two-way="module.description"></div>
		</div>
	</div>
</template>