<template>
	<require from="./module-list"></require>
	<div class="container-fluid">
		<div class="row">
			<module-list class="col-sm-3"></module-list>
			<router-view class="col-sm-9"></router-view>
		</div>
	</div>
</template>