<template>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<button click.delegate="saveUser(news)" style="float: left;" class="close">
				<span class="glyphicon glyphicon-floppy-disk"></span>
			</button>
			<h3 class="panel-title">Benutzerdetails</h3>
		</div>
		<div class="panel-body">
			<div>${hint}</div>
			<br/>
			<table class="user-detail-table">
				<tr>
					<td>Vorname</td>
					<td><input readonly.bind="account.id != user.id && !user.New" type="text" value.bind="user.firstName"></td>
				</tr>
				<tr>
					<td>Nachname</td>
					<td><input readonly.bind="account.id != user.id && !user.New" type="text" value.bind="user.lastName"></td>
				</tr>
				<tr>
					<td>Benutzername</td>
					<td><input readonly.bind="account.id != user.id && !user.New" type="text" value.bind="user.username"></td>
				</tr>
				<tr show.bind="account.id == user.id">
					<td show.bind="!changePW"><button click.delegate="changePassword()">Passwort ändern</button></td>
					<td show.bind="changePW">Neues Passwort</td>
					<td show.bind="changePW">
						<input type="password" value.bind="user.password">
					</td>
				</tr>
				<tr show.bind="changePW">
					<td>Passwort wiederholen</td>
					<td>
						<input type="password" value.bind="password2">
					</td>
				</tr>
				<tr show.bind="account.id == user.id">
					<td>Email</td>
					<td><input type="email" value.bind="user.email"></td>
				</tr>
				<tr show.bind="account.id == user.id">
					<td>Telefonnummer</td>
					<td><input type="number" value.bind="user.phoneNumber"></td>
				</tr>
				<tr show.bind="account.role == 1">
					<td>Rechte</td>
					<td>
						<label repeat.for="role of roles">
							<input type="radio" name="myroles" value.bind="role.id" checked.bind="user.role"> ${role.name}
						</label>
					</td>
				</tr>
			</table>
			<br/>
		</div>
	</div>
</template>