<template>
	<div class="user-list">
		<ul class="list-group">
			<li repeat.for="user of users" class="list-group-item ${user.id === $parent.selectedId ? 'active' : ''}">
				<button click.delegate="deleteUser(user)" show.bind="account.role == 1" class="close">
					<span>&times;</span>
				</button>
				<a route-href="route: user; params.bind: {id:user.id}" click.delegate="$parent.select(user)">
					<h4 class="list-group-item-heading">${user.firstName} ${user.lastName}</h4>
				</a>
			</li>
			<li show.bind="account.role == 1"><button click.delegate="addUser()">Benutzer hinzufügen</button></li>
		</ul>
	</div>
</template>