<template>
	<require from="./user-list"></require>
	<div class="container-fluid">
		<div class="row">
			<user-list class="col-sm-3"></user-list>
			<router-view class="col-sm-9"></router-view>
		</div>
	</div>
</template>