body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 22px;
}

form > span {
	text-align: left;
	width: 180px;
	display: inline-block;
}

.nav > li > span {
	display: block;
	position: relative;
	color: #9d9d9d;
	padding: 10px 15px;
}

h1 > input {
	width: 100%;
	text-align: center;
	height: 45px;
	font-size: 32px;
	border: 0;
	background-color: white;
}

li > textarea {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.panel > .panel-body {
	font-size: 14px;
	text-align: left;
}
td, th {
	padding: 5px 10px 5px 0px;
	min-width: 165px;
}
li.list-group-item.active > a{
	color: white;
}

li > button {
	font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[readonly] {
	border-color: transparent;
}